body {
    background-color: rgb(35, 31, 32);
    /* height: 95vh; */
    font-family: monospace;
}

.centering {
    width: 30%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate( -50%, -50%);
}

.img {
    top: 40%;
}

.coming-soon-text {
    top: 70%;
    background: #fff;
    text-align: center;
    padding: 20px 40px;
}